IBC/Practicos/Resolución/practico.log
IBC/Practicos/Resolución/practico.pdf
IBC/Practicos/Resolución/practico.aux
IBC/Practicos/Resolución/practico.log
IBC/Practicos/Resolución/practico.pdf
IBC/Practicos/Resolución/practico.synctex.gz
IBC/Practicos/Resolución/practico.toc
